.header {
    font-family: 'Microsoft Yahei', 'Open Sans', sans-serif;
}

.magazine-page .active {
    text-decoration: none;
    background: #3498db;
}

.magazine-page .active a {
    color: #fff !important;
}

.carousel-caption h1
{
    font-size: 60px;
}

.carousel-caption .caption-text
{
    background: rgba(0,0,0,0.5);
}
