<div class="header">
  <nav class="navbar navbar-default navbar-static" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img id="logo-header" src="/images/logo.png" alt="Logo" data-bd-imgshare-binded="1">
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-responsive-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">首页</a></li>
          <li class=""><a href="/news">新闻动态</a></li>
          <li class=""><a href="/docs/home">产品文档</a></li>
          <li class=""><a href="/downloads">产品下载</a></li>
          <li class=""><a href="/about">关于我们</a></li>
          <li class=""><a href="http://forum.myquant.cn" target="_blank">量化社区</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="main-slider">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      <li data-target="#myCarousel" data-slide-to="4" class=""></li>      
      <li data-target="#myCarousel" data-slide-to="5" class=""></li>
      <li data-target="#myCarousel" data-slide-to="6" class="active"></li>      
    </ol>

    <!--Wrapper for slides-->
    <div class="carousel-inner">
      <div class="item">
        <img src="/images/sliders/1.jpg" alt="" data-bd-imgshare-binded="1">
        <div class="carousel-caption">
          <h1><span class="caption-text">掘金 • 量化交易平台</span></h1>
          <div class="margin-bottom-40"></div>
          <h4>
            <span class="caption-text">为您提供一站式量化交易服务：</span>
            <br>
            <ul class="list-unstyled list-inline caption-text" style="display:inline">
                <li><i class="fa fa-rocket icon-resize-small service-icon"></i>量化整体解决方案</li>
                <li><i class="fa fa-gears icon-resize-small service-icon"></i>量化标准化组件</li>
                <li><i class="fa fa-users icon-resize-small service-icon"></i>量化定制和咨询</li>
            </ul>            
          </h4>
        </div>
      </div>
      <div class="item">
        <img src="/images/sliders/2.jpg" alt="" data-bd-imgshare-binded="1">
        <div class="carousel-caption">
          <h1><span class="caption-text">掘金 • 量化数据服务</span></h1>
          <div class="margin-bottom-40"></div>
          <h4><span class="caption-text">为策略提供完美的数据源服务：实时数据，历史数据，回放支持，各种指标，不再为数据而烦恼</span></h4>
        </div>
      </div>
      <div class="item">
        <img src="/images/sliders/3.jpg" alt="" data-bd-imgshare-binded="1">
        <div class="carousel-caption">
          <h1><span class="caption-text">掘金 • 策略接口API</span></h1>
          <div class="margin-bottom-40"></div>
          <h4><span class="caption-text">覆盖主流语言，用您最喜欢、最熟悉、最高效的语言写策略吧，我们是开放策略平台</span></h4>
        </div>
      </div>
      <div class="item">
        <img src="/images/sliders/1.jpg" alt="" data-bd-imgshare-binded="1">
        <div class="carousel-caption">
          <h1><span class="caption-text">掘金 • 高仿真模拟交易</span></h1>
          <div class="margin-bottom-40"></div>
          <h4><span class="caption-text">为策略验证而生，不用拿真钱去试错，让您的策略上线时成竹在胸</span></h4>
        </div>
      </div>
      <div class="item">
        <img src="/images/sliders/2.jpg" alt="" data-bd-imgshare-binded="1">
        <div class="carousel-caption">
          <h1><span class="caption-text">掘金 • 风险控制</span></h1>
          <div class="margin-bottom-40"></div>
          <h4><span class="caption-text">避免失误，自动风控和人工风控完美组合，完备的规则加上人工辅助</span></h4>
        </div>
      </div>
      <div class="item">
        <img src="/images/sliders/3.jpg" alt="" data-bd-imgshare-binded="1">
        <div class="carousel-caption">
          <h1><span class="caption-text">掘金 • 订单路由系统</span></h1>
          <div class="margin-bottom-40"></div>
          <h4><span class="caption-text">高速、灵活的订单路由系统，是交易执行的关键，让您赢在冲刺的最后一步</span></h4>
        </div>
      </div>
      <div class="item active">
        <img src="/images/sliders/1.jpg" alt="" data-bd-imgshare-binded="1">
        <div class="carousel-caption">
          <h1><span class="caption-text">掘金 • 账户管理</span></h1>
          <div class="margin-bottom-40"></div>
          <h4><span class="caption-text">严格权限，清晰管理，专业的量化团队，需要专业的管理</span></h4>
        </div>
      </div>
    </div>

    <!--Control-->
    <div class="carousel-arrow">
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <i class="fa fa-angle-left fa-3x"></i>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <i class="fa fa-angle-right fa-3x"></i>
      </a>
    </div>
  </div>
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <span>掘金，为您量身定制的量化交易平台</span>
        <p>掘金量化交易平台是一整套量化交易解决方案，主要包括量化数据服务、策略接入API、策略检验、策略交易执行与监控、风险控制、资产管理等核心功能和服务。掘金的目标是为量化交易机构如私募基金、公募基金、证券公司、期货公司，以及高端专业量化投资个人提供一站式服务。</p>
      </div>            
      <div class="col-md-3">
        <a href="news/2015/03/25/try-gmsdk-v2.0/" class="btn-buy hover-effect">我要申请试用</a>
        <!-- <a href="mailto:support%40myquant.cn?subject=%E6%8E%98%E9%87%91%E5%B9%B3%E5%8F%B0%E8%AF%95%E7%94%A8%E7%94%B3%E8%AF%B7&body=%E6%AC%A2%E8%BF%8E%E8%AF%95%E7%94%A8%E6%8E%98%E9%87%91%E9%87%8F%E5%8C%96%E4%BA%A4%E6%98%93%E5%B9%B3%E5%8F%B0%EF%BC%8C%E4%B8%BA%E4%BA%86%E6%9B%B4%E5%A5%BD%E7%9A%84%E6%9C%8D%E5%8A%A1%E6%82%A8%EF%BC%8C%E8%AF%B7%E5%A1%AB%E5%86%99%E4%BB%A5%E4%B8%8B%E5%9F%BA%E6%9C%AC%E4%BF%A1%E6%81%AF%EF%BC%8C%E6%88%91%E4%BB%AC%E4%BC%9A%E5%B0%BD%E5%BF%AB%E4%B8%BA%E6%82%A8%E5%BC%80%E9%80%9A%E8%B4%A6%E5%8F%B7%E3%80%82%20%0A%E5%A7%93%E5%90%8D%EF%BC%9A%20%0A%E9%82%AE%E7%AE%B1%EF%BC%9A%20%0A%E7%94%B5%E8%AF%9D%EF%BC%9A%20%0A%E5%85%AC%E5%8F%B8%EF%BC%9A%0A%E4%BB%8E%E4%BD%95%E5%A4%84%E7%9F%A5%E9%81%93%E6%8E%98%E9%87%91%EF%BC%88%E6%9C%8B%E5%8F%8B%E6%8E%A8%E8%8D%90%EF%BC%8C%E7%BD%91%E7%AB%99%EF%BC%8C%E8%AE%BA%E5%9D%9B%EF%BC%8CQQ%E7%BE%A4%E7%AD%89%EF%BC%89%EF%BC%9A" class="btn-buy hover-effect">联系掘金团队</a> -->
      </div>
    </div>
  </div>
</div><!--/row-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">	

  <!-- Feature Blokcs -->
    <div class="headline"><h2>掘金功能特色</h2></div>
    <div class="row">
      <div class="col-sm-5">
        <img class="img-responsive margin-bottom-20" src="/images/features/data.jpg" alt="" data-bd-imgshare-binded="1">
      </div>
      <div class="col-sm-7">
        <h3>量化数据服务 <small>强大、完善的策略数据源</small></h3>
        <p>量化数据服务，为策略提供完美的数据源服务：实时数据，历史数据，回放支持，各种指标，策略不再为数据而烦恼。</p>
        <ul class="list-unstyled margin-bottom-20">
          <li><i class="fa fa-check color-green"></i> 实时行情服务，高速稳定</li>
          <li><i class="fa fa-check color-green"></i> 标准bar和定制bar数据：您要7秒,13秒的bar数据，轻松定制</li>
          <li><i class="fa fa-check color-green"></i> 自定义衍生指标，满足您策略的特殊要求</li>
          <li><i class="fa fa-check color-green"></i> 查询、提取历史行情，丰富的api支持</li>
          <li><i class="fa fa-check color-green"></i> 在线回放历史数据，每秒百万笔数据极速回放，回验终极利器</li>
          <li><i class="fa fa-check color-green"></i> 7x24小时不间断模拟行情，让您随时调试策略</li>
          <li><i class="fa fa-check color-green"></i> 极其灵活、易用的行情订阅方式，支持通配符，支持任意组合</li>
        </ul>                    
      </div>
    </div>

    <hr class="margin-bottom-40">

    <div class="row">
      <div class="col-sm-7">
        <h3>策略接口覆盖主流语言 <small>选择您喜欢语言编写策略</small></h3>
        <p>C,C++, C#, Python, GNU R, Matlab, Easy Language...用您最喜欢、最熟悉、最高效的语言写策略吧，我们是开放策略平台！</p>
        <ul class="list-unstyled margin-bottom-20">
          <li><i class="fa fa-check color-green"></i> 专业的开发语言</li>
          <li><i class="fa fa-check color-green"></i> 熟悉的开发环境</li>
          <li><i class="fa fa-check color-green"></i> 不再浪费时间折腾山寨语言和系统</li>
          <li><i class="fa fa-check color-green"></i> 策略研发、策略交易无缝切换</li>
          <li><i class="fa fa-check color-green"></i> 策略本地运行、云端托管任您选择</li>
       </ul>                    
      </div>
      <div class="col-sm-5">
        <img class="img-responsive margin-bottom-20" src="/images/features/dev.jpg" alt="" data-bd-imgshare-binded="1">
      </div>
    </div>

    <hr class="margin-bottom-40">

    <div class="row">
      <div class="col-sm-5">
        <img class="img-responsive margin-bottom-20" src="/images/features/exchange.jpg" alt="" data-bd-imgshare-binded="1">
      </div>
      <div class="col-sm-7">
        <h3>高仿真模拟交易 <small>为策略验证而生</small></h3>
        <p>一个符合交易所规则的高仿真交易系统，对策略的paper trading阶段至关重要，可以避免您拿真钱去试错，并且大大提高策略验证效率，让您的策略上线时成竹在胸。</p>
        <ul class="list-unstyled margin-bottom-20">
          <li><i class="fa fa-check color-green"></i> 时间优先，价格优先的撮合机制</li>
          <li><i class="fa fa-check color-green"></i> 委托的价格、量、时间区间等规则验证</li>
          <li><i class="fa fa-check color-green"></i> 与真实行情实时撮合</li>
          <li><i class="fa fa-check color-green"></i> 高度吻合实盘交易记录</li>
        </ul>                    
      </div>
    </div>

    <hr class="margin-bottom-40">

    <div class="row">
      <div class="col-sm-6">
        <h3>风险控制 <small>自动与人工完美结合</small></h3>
        <p>风控系统包含自动风控和人工风控，完备的规则加上人工辅助，避免失误</p>
        <ul class="list-unstyled margin-bottom-20">
          <li><strong>自动风控:</strong></li>
          <li><i class="fa fa-check color-green"></i> 系统包含量化交易完备的三大类风控规则（限制类,指标类,执行类)</li>
          <li><i class="fa fa-check color-green"></i> 提供插件机制，允许用户定制自己的风控规则</li>
          <li><i class="fa fa-check color-green"></i> 风控检查采用专用的高速算法，所有风控规则的检查在微秒级别</li>
          <li><i class="fa fa-check color-green"></i> 多种风险预警通知机制</li>
          <li><strong>人工风控:</strong></li>
          <li><i class="fa fa-check color-green"></i> 不同角色可以分别对策略组,策略进行监控</li>
          <li><i class="fa fa-check color-green"></i> 对策略微调和急刹功能</li>
          <li><i class="fa fa-check color-green"></i> 对策略风控记录事后查看和分析</li>          
        </ul>                    
      </div>
      <div class="col-sm-6">
        <img class="img-responsive margin-bottom-20" src="/images/features/risk.jpg" alt="" data-bd-imgshare-binded="1">
      </div>
    </div>

    <hr class="margin-bottom-40">

    <div class="row">
      <div class="col-sm-5">
        <img class="img-responsive margin-bottom-20" src="/images/features/router.jpg" alt="" data-bd-imgshare-binded="1">
      </div>
      <div class="col-sm-7">
        <h3>订单路由系统 <small>高速 可靠 智能</small></h3>
        <p>高速、灵活的订单路由系统，是有效交易执行的关键，让您赢在冲刺的最后一步。</p>
        <ul class="list-unstyled margin-bottom-20">
          <li><i class="fa fa-check color-green"></i> 订单关键路径与旁路系统分离，确保最快速度</li>
          <li><i class="fa fa-check color-green"></i> 策略与账号分离，根据路由配置自动选择匹配账号交易</li>
          <li><i class="fa fa-check color-green"></i> 策略交易多个账号：对冲交易，跟随交易完美支持</li>
        </ul>                    
      </div>
    </div>

    <hr class="margin-bottom-40">

    <div class="row">
      <div class="col-sm-5">
        <h3>账户管理 <small>严格权限 清晰管理</small></h3>
        <p>对上规模，要规范管理的专业量化团队，您需要账户管理</p>
        <ul class="list-unstyled margin-bottom-20">
          <li><i class="fa fa-check color-green"></i> 管理员: 对公司级的用户,帐户,策略进行统一的管理和配置</li>
          <li><i class="fa fa-check color-green"></i> 交易员: 负责具体帐户上的量化交易和手工交易,监控量化交易过程</li>
          <li><i class="fa fa-check color-green"></i> 帐  户: 交易柜台独立核算帐户</li>
          <li><i class="fa fa-check color-green"></i> 子帐户: 子账户可独立核算，每个柜台帐户可以对应多个子帐户</li>
       
        </ul>                    
      </div>
      <div class="col-sm-7">
        <img class="img-responsive margin-bottom-20" src="/images/features/account.jpg" alt="" data-bd-imgshare-binded="1">
      </div>
    </div>    
  <!-- End Feature Blokcs -->

  <!-- Service Blocks -->
  <div class="headline"><h2>量化专业服务</h2></div>
  <div class="row">
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-rocket fa-2x icon-resize-small service-icon"></i>
        <div class="desc">
          <h4>量化整体解决方案</h4>
          <p>协助您从零开始构建整套量化系统，快速发量化产品。我们提供从量化数据服务、策略开发、交易监控到子帐户管理的全套一站式量化解决方案，加速量化交易系统实施的过程，大幅缩短量化产品上线周期。</p>
        </div>
      </div>	
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-gears fa-2x icon-resize-small service-icon"></i>
        <div class="desc">
          <h4>量化标准化组件</h4>
          <p>高质量、标准化的量化基础组件：量化数据服务、高仿真模拟交易、交易通道，可以直接对接您的量化系统，大幅减轻您在基础平台上的开发投入, 使您宝贵的精力只需关注策略的核心逻辑部分。</p>
        </div>
      </div>	
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-users fa-2x icon-resize-small service-icon"></i>
        <div class="desc">
          <h4>量化定制和咨询</h4>
          <p>除了整体解决方案和标准量化组件服务，我们团队拥有专业的IT和量化技术及丰富量化平台实施经验，为您提供相关咨询服务；同时，也提供策略开发、风险控制和量化衍生数据等方面的定制开发，满足您的需要。</p>
        </div>
      </div>	
    </div>			    
  </div><!--/row-->
  <!-- End Service Blokcs -->

  <hr class="margin-bottom-40">

  <!--Testimonials and Info-->
  <div class="row">
    <div class="col-md-4">
      <div>
        <div class="margin-bottom-50"></div>
        <h1><a href="#">掘金，专业宽客的选择</a></h1>
        <p></p>
      </div>
    </div>
    
    <div class="col-md-8">
      <div class="carousel slide testimonials testimonials-v1" id="testimonials-1">
        <div class="carousel-inner">

          <div class="item">
            <p>搞量化很多年了，以前想什么都自己从头干，招了不少能人组建团队，结果呢，搞IT的不懂金融，学金融的不懂IT，想想很简单的一件事，却一直因为合作不畅就是做不成，系统不断重写，做了好几套，但这里那里总是有些毛病不能用，白白浪费了不少时间和精力。现在简单了，有了掘金平台，系统层次清晰，分工明确，有了统一的接口，金融工程出身的策略师跟IT工程师之间的沟通顺畅多了，策略编写变得简单多了。</p>
            <div class="testimonial-info">
              <img alt="" src="/images/testimonials/user.jpg" data-bd-imgshare-binded="1">
              <span class="testimonial-author">
                李先生
                <em>高级投资经理, 深圳私募基金</em>
              </span>
            </div>
          </div>

          <div class="item active">
            <p>以前做策略，模型研究了好久，费老大劲编完策略程序，只能在交易时间小心翼翼地试着交易，不断地花钱才能修正一些隐藏的BUG，等策略稳定下来能挣钱之前，总得先亏上不小的一笔钱。有了模拟交易平台，这些冤枉钱不用再花了，也不再受交易时间的限制，策略成熟速度也快多了。</p>
            <div class="testimonial-info">
              <img alt="" src="/images/testimonials/user.jpg" data-bd-imgshare-binded="1">
              <span class="testimonial-author">
                钱先生
                <em>个人量化投资</em>
              </span>
            </div>
          </div>

          <div class="item">
            <p>我们公司策略师比较多，经常是多个策略共用帐户在交易，需要事后费劲才分得清谁在挣钱，谁在亏损，总是反应慢一拍，现在能实时地进行策略运行的监控分析，赢亏情况一目了然，还能实时进行策略的调度，停掉不适合当前行情的策略，有效地提升了产品的收益稳定性。</p>
            <div class="testimonial-info">
              <img alt="" src="/images/testimonials/user.jpg" data-bd-imgshare-binded="1">
              <span class="testimonial-author">
                杨小姐 
                <em>量化策略师, 深圳私募基金</em>
              </span>
            </div>
          </div>

          <div class="item">
            <p>策略研究不容易，大量的数据，反复检验，终于出现一个不错的结果，想要开始交易，却发现把模型转换成可交易的策略更困难，订单、持仓、行情数据、通讯等等一系列的工作都要在策略中实现，策略一上实战，发现不是实现逻辑有错误，就是性能达不到要求，执行结果跟模型研究结果相差太远，本来要赚钱的行情反而亏了不少，意识到IT也很重要，用上掘金平台后，只需要专注于策略核心逻辑，就能轻松完成策略的开发了，还有高仿真测试，实战前准备充分，赢面大多了。</p>
            <div class="testimonial-info">
              <img alt="" src="/images/testimonials/user.jpg" data-bd-imgshare-binded="1">
              <span class="testimonial-author">
                李先生 
                <em>量化策略师, 北京私募基金</em>
              </span>
            </div>
          </div>

          <div class="item">
            <p>带图形的工具看起来好看，交易时就觉得多余了，影响速度，掘金想到了这一点，把两者分开，想看图表信号时看看图，交易时干净利落，不做多余动作，极大提高了速度。</p>
            <div class="testimonial-info">
              <img alt="" src="/images/testimonials/user.jpg" data-bd-imgshare-binded="1">
              <span class="testimonial-author">
                尹先生 
                <em>投资总监, 深圳私募基金</em>
              </span>
            </div>
          </div>

          <div class="item">
            <p>市面大多对冲基金公司定性投资做的比较好，但是量化才刚起步，技术方面积累少，我们也是如此。我们量化团队用python语言进行策略的研究和编译，但遇到一个问题，就是研究转生产这个过程会比较长。掘金量化系统确实在平台搭建思路，策略生产流程上，基于非常大的帮助。在此感谢，同时祝愿红树科技越办越好！</p>
            <div class="testimonial-info">
              <img alt="" src="/images/testimonials/user.jpg" data-bd-imgshare-binded="1">
              <span class="testimonial-author">
                王先生 
                <em>投资合伙人, 上海私募</em>
              </span>
            </div>
          </div>
        </div><!--end inner-->

        <div class="carousel-arrow">
          <a data-slide="prev" href="#testimonials-1" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#testimonials-1" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--End Testimonials and Info-->

</div><!--/container-->		
<!-- End Content Part -->


  <!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 md-margin-bottom-40">
        <div class="posts">
          <div class="headline"><h2>最新动态</h2></div>
          <div>
            <ul class="list-unstyled">
            
            <li>
                <h4><i class="fa fa-pencil"></i>发布云回测与掘金SDK V2.2版本  <small>18 Jul 2015</small></h4>
                <p>大家好，掘金SDK v2.2正式发布。v2.2包含了一... 
                  <a href="/news/2015/07/18/goldminer-2-2-0-release/">阅读全文 <i class="fa fa-angle-double-right"></i></a>
                </p>
            </li>
            
            <li>
                <h4><i class="fa fa-pencil"></i>发布掘金SDK R语言 V2.1.1版本  <small>25 Jun 2015</small></h4>
                <p>我们很高兴地向掘金R语言策略师们宣布一个好消息：掘金s... 
                  <a href="/news/2015/06/25/r-sdk-2-1-1-release/">阅读全文 <i class="fa fa-angle-double-right"></i></a>
                </p>
            </li>
            
            </ul>
          </div>
        </div>
      </div><!--/col-md-6-->

      <div class="col-md-4">
        <!-- Monthly Newsletter -->
        <div class="headline"><h2>联系方式</h2></div>	
        <p class="posts md-margin-bottom-40">
          地址：深圳市南山区数字文化产业基地东塔261 <br>
          邮编：518000 <br>
          电话：0755-86962125 <br>
          邮件：<a href="mailto:support@myquant.cn" class="">support@myquant.cn</a> <br>
          QQ  ：2319312574
          QQ群：303781376
        </p>
      </div><!--/col-md-4-->
      <div class="col-md-2">
        <!-- Monthly Newsletter -->
        <div class="headline"><h2>关注我们</h2></div>	
          <ul class="list-unstyled list-inline">
            <li>
              <img width="120px" height="120px" src="/images/weixin.png" alt="" data-bd-imgshare-binded="1">
            </li>
          </ul>
      </div><!--/col-md-3-->
    </div><!--/row-->	
  </div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-10">						
        <p class="copyright-space">
          ©&nbsp;2013-2015 <a href="#">深圳红树科技有限公司 版权所有</a> | 
         <a href="http://www.miitbeian.gov.cn/">粤ICP备14007024号 </a> | 
         <a href="#">服务协议</a>
        </p>
      </div>
      <div class="col-md-2">	
        <a href="#">
          <img id="logo-footer" src="/images/logo_down.png" class="pull-right" alt="" data-bd-imgshare-binded="1">
        </a>
      </div>
    </div><!--/row-->
  </div><!--/container-->	
</div><!--/copyright-->	

<script src="/js/back-to-top.js"></script>
<script type="text/javascript">
    $('.carousel').carousel()
</script>